._flex {
    display: flex;
}

._start {
    justify-content: flex-start;
}

._end {
    justify-content: flex-end;
}

._centered {
    justify-content: center;
    align-items: center;
}

._flex_wrap {
    flex-wrap: wrap;
}

._flex_column {
    flex-direction: column;
}

._center {
    text-align: center;
}