/* `._grid` is a CSS class that defines a grid container with a number of columns determined by the
`--columns` variable. The `grid-template-columns` property sets the width of each column to `1fr`,
which means that each column will take up an equal amount of space */
._grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    padding: 1rem;
}

/* `@media (min-width: 600px)` is a media query in CSS that targets devices with a minimum width of 600
  pixels. The CSS rules inside this media query will only be applied to devices that meet this
  condition. In this specific code, the media query is used to adjust the CSS properties of the `body`
  element when the device width is at least 600 pixels. */
@media (min-width: 600px) {
    body {
        --gutter: .5em;
        --font-size-scale: 1.2;
        --columns: 3;
    }
}

/* `@media (min-width: 1024px)` is a media query in CSS that targets devices with a minimum width of
  1024 pixels. The CSS rules inside this media query will only be applied to devices that meet this
  condition. In this specific code, the media query is used to adjust the CSS properties of the `body`
  element when the device width is at least 1024 pixels. */
@media (min-width: 1024px) {
    body {
        --gutter: 1em;
        --font-size-scale: 1.5;
        --columns: 4;
    }
}