._grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 1rem;
}


/* Implementation should follow Mobile first design approach .  */
@media (min-width: 700px) {
    ._grid {
        --font-size-scale: 0.5;
        --columns: 2;
    }

    ._filter_section {
        --filter-width: 20%;
    }

    ._card_section {
        --card-width: 80%;
    }
}


/* ▪ Tablet View: Page should have 2 columns between 700 and 1024 px.  */
@media (min-width: 1024px) {
    ._grid {
        --font-size-scale: 1;
        --columns: 3;
    }
}


/* ▪ Desktop View: Page should have 4 columns between 1024 and 1440 px.   */
@media (min-width: 1440px) {
    ._grid {
        --font-size-scale: 1.5;
        --columns: 4;
    }
}