:root {
    --body-color: hsl(210, 8%, 95%);
    --text-color: hsl(210, 8%, 25%);
    --btn-background: hsl(113, 28%, 57%);

    /* grid system  */
    --column: initial;
    --gutter: .3em;
}

body {
    margin: 1rem;
    background-color: var(--body-color);
}