form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #379de0;
  -webkit-transition: 0.5s;
  transition: 0.1s ease-in-out;
  outline: none;
  display: grid;
}


form input:focus {
  border: 1px solid #379de0;
  border-radius: 5px;
}

form button {
  background-color: #379de0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

._centered {
  display: grid;
  justify-content: center;
  align-items: center;
}

._flex {
  display: flex;
}

._start {
  justify-content: flex-start;
}

._end {
  justify-content: flex-end;
}

._flex_wrap {
  flex-wrap: wrap;
}

.outline_shine {
  background: rgba(48, 75, 183, 0.652);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

._flex_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}


.w-30 {
  width: 27%;
}

.glass_shades {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin: 1rem;
}

.box_shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.light_heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.gradiant_heading {
  background: -webkit-linear-gradient(#379de0, #9d1f1f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delete_task {
  background: #9d1f1f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
}

._input_update,
._input_update:focus {
  background-color: #379de0;
  color: white;
  padding: 5px 10px;
  margin: inherit;
  border: none;
  cursor: pointer;
}

/* add ascent color in checkbox*/
/* .checkbox[type="checkbox"]:checked+label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 2px;
  height: 2px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
}

*/
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;

}


/* add media query according to tab , laptop and mobile */

@media screen and (max-width: 1024px) {
  .w-30 {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .w-30 {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .w-30 {
    width: 100%;
  }
}